---
interface Props {
  name: string;
  url: string;
  isBig?: boolean;
}

const { name, url, isBig = false } = Astro.props;
const id = url.split("/").at(-2);
---

<a href={`/pokemons/${name}`} class="">
  <img
    transition:name=`${name}-image`
    src={`https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/other/official-artwork/${id}.png`}
    alt=""
    class:list={[
      " size-40",
      {
        "size-80 my-5 ": isBig,
      },
    ]}
  />
  <span class="capitalize">#{id} {name}</span>
</a>
