---
import { ViewTransitions } from "astro:transitions";
import { siteInfo } from "@/consts/sitr-info";
import NavBar from "@/components/shared/NavBar.astro";

export interface Props {
  title?: string;
  image?: string;
  description?: string;
}

const {
  title = siteInfo.title,
  description = siteInfo.description,
  image,
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <!-- Seo -->
    <meta name="description" content={description} />
    <meta name="author" content="Epsaind dev" />

    <!-- OG Metatags -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={image} />

    <title>{title}</title>
    <ViewTransitions   />
  </head>
  <body class="m-auto max-w-5xl bg-slate-800 text-slate-200 ">
    <NavBar />
    <main>
      <slot />
    </main>
  </body>
</html>
